[server]

[mysqld]

# Run MariaDB as root
user                    = root
# Path to PID file to store the server's process ID
# Ensures that multiple instances do not start at the same time
pid-file                = /run/mysqld/mysqld.pid
# Base directory of MariaDB installation
basedir                 = /usr
# Directory for database files
datadir                 = /var/lib/mysql
tmpdir                  = /tmp

# Configures to listen on all network interfaces
bind-address            = 0.0.0.0

character-set-server  = utf8mb4
collation-server      = utf8mb4_general_ci

[embedded]

[mariadb]

[mariadb-10.5]
